---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import IOT from '../assets/img/multi-agent-systems.webp';
---

<Layout
  title="Мультиагентные системы"
  description="Узнайте больше о мультиагентных системах"
  isDark
>

  <!-- Multi-agents systems -->
  <section class="mas">
    <div class="layout">
      <h1>Мультиагентные системы -</h1>
      <div class="wrapper wrapper-with-img"> 
        <p class="title-blue mas__descr">
          <span class="title-blue--light">Это команда профессионалов с многолетним опытом в IoT и умных домах.</span> <b>Мы знаем, как сделать домашнюю жизнь комфортнее, эстетичнее и безопаснее.</b></p>
        <div class="decor-image">
          <Image src={IOT} alt="iot solutions"/>
        </div>
      </div>

      <div class="wrapper">
          <a href="http://yourspace.multi-agent.io/" target="_blank">Умный дом YourSpace</a>
          <a href="https://feecc.ru/" target="_blank">MES система для производств: FEECC</a>
      </div>

      <div class="it-activity">
        <h2>ИТ Деятельность компании</h2>
        <ul>
          <li>Компания осуществляет деятельность по основному ОКВЭД 62.01 (Разработка компьютерного программного обеспечения).</li>
          <li>ИТ деятельность компании соответствует коду 1.01 из <a class="title-blue" href="https://digital.gov.ru/documents/prikaz-ministerstva-czifrovogo-razvitiya-svyazi-i-massovyh-kommunikaczij-rossijskoj-federaczii-%E2%84%96-449" target="_blank" rel="noopener">Приказа Минцифры России от 11 мая 2023 г. № 449 «Об утверждении перечня видов деятельности в области информационных технологий»</a>.</li>
          <li>Организация является правообладателем программы для ЭВМ: <a class="title-blue" href="https://www1.fips.ru/fips_servl/fips_servlet?DB=EVM&DocNumber=2022660983&TypeFile=html" target="_blank" rel="noopener">Свидетельство о регистрации программы для ЭВМ №2022660983 от 14.06.2022</a>.</li>
          <li>ПО внесено в реестр Российского ПО: <a class="title-blue" href="https://reestr.digital.gov.ru/reestr/1683986/?sphrase_id=20018491" target="_blank" rel="noopener">Реестровая запись №18512 от 09.08.2023</a>.</li>
          <li>Подробная информация о ПО (технологический стек, порядок и стоимость приобретения) доступна на сайте <a class="title-blue" href="https://feecc.ru/" target="_blank" rel="noopener">feecc.ru</a>.</li>
        </ul>
      </div>
    </div>
  </section>

</Layout>


<style>
  h1 {
    margin-bottom: var(--space);
  }

  p {
    margin-bottom: var(--space-half);
  }

  .it-activity {
    max-width: 1200px;
    margin-bottom: calc(var(--space) * 2);
  }

  .it-activity h2 {
    margin-bottom: var(--space);
    font-size: calc(var(--base-font-size) * 1.8);
  }

  .it-activity ul {
    list-style: disc;
    padding-left: calc(var(--space) * 1.2);
    display: flex;
    flex-direction: column;
    gap: var(--space-half);
  }

  .it-activity li {
    font-size: calc(var(--base-font-size) * 1.1);
    line-height: 1.5;
  }

  .it-activity a {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }

  .it-activity a:hover {
    color: var(--text-accent);
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space);
    margin-bottom:  calc(var(--space) * 2);
  }

  .wrapper a {
    padding: calc(var(--space) * 1.5) var(--space);
    background-color: var(--text-accent);
    text-align: center;
    box-shadow: -3px 4px 0 0 #fff;
    transition: box-shadow 0.33s ease-in-out, background-color 0.3s ease-in;
  }

  .wrapper a:hover {
   background-color: #598de090;
   box-shadow: -1px 0px 3px 0 #fff;
  }

  .wrapper-with-img {
    min-height: 650px
  }

  .mas .decor-image {
    max-width: 700px;
    width: 100%;
    min-height: 60vh;
    height: 100%;
  }

  .mas .decor-image img {
    position: absolute;
    top: 15vh;
    right: 0;
    bottom: 0;
    width: 50vw; 
    object-fit: cover;
    z-index: 0;
  }


  /* media queries */

  @media screen and (max-width: 1200px) {
    .wrapper-with-img {
      min-height: unset;
    }
  }

  @media screen and (max-width: 860px) {
    .wrapper {
      grid-template-columns:  1fr;
    }

    .mas .decor-image {
      max-width: unset;
      min-height: unset;
    }

    .mas .decor-image img {
      position: static;
      width: 100%;
    }

  }

  @media screen and (max-width: 460px) {
    h1 {
      font-size: calc(var(--base-font-size) * 1.8);
    }
  }
</style>